@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;

  --color-primary: #4A5568;
  --color-background: #F5F5F5;
  --color-surface: #FFFFFF;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-primary);
}

* {
  box-sizing: border-box;
}